@import "tailwindcss";

@theme {
  --color-bg: #ffffff;
  --color-text: #171717;
  --color-primary: #000000;
  --color-secondary: #f3ebe8;
  --color-bg-dark: #0a0a0a;
  --color-text-dark: #ededed;
  --color-light: #f6f3f2;
  --font-sans: var(--font-montserrat);
}

/* ONLY global typography + base reset */
body {
  @apply text-[var(--color-text)] antialiased;
  font-family: var(--font-sans), sans-serif;
  background: #f3ebe8 !important;
}
html {
  scroll-behavior: smooth;
}
/* optional dark text support only */
@media (prefers-color-scheme: dark) {
  body {
    color: var(--color-text-dark);
  }
}

/**/
.rain-container {
  position: fixed;
  inset: 0;
  background: black;
  overflow: hidden;
}

.rain-drop {
  position: absolute;
  top: -20px;
  color: rgb(229, 223, 223);
  width: 1px;
  height: 18px;
  background: white;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(120vh);
  }
}

.center-text {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  opacity: 0.4;
  font-size: 18px;
  letter-spacing: 0.2em;
}

.custom-bullet {
  width: 30px;
  height: 2px;
  background: rgba(255, 255, 255, 0.4);
  display: inline-block;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active.custom-bullet {
  background: white;
  width: 50px;
}

.PhoneInputInput {
  outline: none;
  border: none;
  box-shadow: none;
  background: transparent;
}

.PhoneInputInput:focus {
  outline: none;
  box-shadow: none;
}

.PhoneInputCountrySelect {
  outline: none;
  border: none;
  background: transparent;
}

/* Zoom Animations */

@keyframes slowZoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.12);
  }
}

.zoom-slow {
  animation: slowZoom 7s ease-in-out forwards;
}

.zoom-medium {
  animation: slowZoom 9s ease-in-out forwards;
}

.zoom-strong {
  animation: slowZoom 11s ease-in-out forwards;
}
p {
  line-height: 1.8;
  font-size: 18px !important;
  color: #4a5565 !important;
  font-weight: light !important;
}
a {
  font-size: 18px !important;
}
h3 span {
  color: gray !important;
  text-transform: uppercase !important;
}
footer p {
  color: #fff !important;
  font-weight: light !important;
}

footer a {
  color: #fff !important;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.cta-section p {
  color: #fff !important;
}

.categ-sec .swiper h3 span {
  color: #fff !important;
}
